
<div class="col-md-6 video-buttons">
  <div class="control-button">
    <button class="btn btn-default btn-control" (click)="toggleCamera()">
      <img src="{{muteCamera? '/assets/icons/camera_off.svg' : '/assets/icons/camera.svg'}}"/>
    </button>
    <button class="btn btn-default btn-control" (click)="toggleMic()">
      <img src="{{muteMic? '/assets/icons/mic_off.svg' : '/assets/icons/mic.svg'}}"/>
    </button>
    <button class="btn btn-default btn-control" ng-disabled="$ctrl.isWorking" ng-click="$ctrl.toggleConnect()">
      <img src="{{isConnected? '/assets/icons/disconnect.svg' : '/assets/icons/connect.png'}}"/>
    </button>
  </div>
</div>
