<div class="video-area container-fluid" >
  <!--ng-class="{expanded: !$ctrl.isChatOpened}"-->
  <!--<div ng-if="$ctrl.isConnected">-->
    <!--<p>You are connected to {{$ctrl.roomId}}</p>-->
  <!--</div>-->
  <!--<div ng-if="!$ctrl.isConnected && !$ctrl.isLoading">-->
    <!--<p>You left the room</p>-->
  <!--</div>-->
  <div id="renderer">
    <!--<div ng-if="$ctrl.isLoading">-->
      <!--<p>Loading ...</p>-->
    <!--</div>-->
    <!--<div ng-if="$ctrl.isConnectionError">-->
      <!--<p>Connection error</p>-->
    <!--</div>-->
  </div>
</div>
